---
layout: page
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">

    <img src="{{ page.feature }}" alt="">

      {{ content }}

    <div class="share-inline">
      <p class="share-icon">Share:</p>
      <a class="share-button" href="https://twitter.com/intent/tweet/?text=Check%20Out%20'{{ post.subtitle }}%20-%20{{ post.title | uri_escape }}'&url={{ post.url | absolute_url }}&via=isthatjeff"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a class="share-button" href="https://www.facebook.com/sharer/sharer.php?u={{ post.url | absolute_url }}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a class="share-button" href="mailto:?subject=I%20wanted%20you%20to%20see%20this%20post&body=Check%20out%20this%20post:%0D%0A%0D%0A{{ post.subtitle }}%20-%20{{ post.title | uri_escape }}%0D%0A{{ page.url | absolute_url }}%0D%0A"><i class="fa fa-envelope-open" aria-hidden="true"></i></a>
    </div>

  </div>


</article>
